body{
  background-color: #e1e1e142;
}
.heading {
  background-color: #ffe600;
  color: #000;
  font-weight: 200;
  text-align: center;
  padding: 15px 30px;
  max-width: 300px;
  display: block;
   margin: auto;
  border-radius: 10px;
}

button:hover{
 cursor: pointer;
}

.note {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  max-width: 490px;
  margin: 16px auto;
}

.note ul{
  padding-left: 10px;
  margin: 0px;
}

.note li {
  word-wrap: break-word;
  list-style: none;
  margin: 0;
  font-size: 18px;
  line-height: 35px;
  max-width: 405px;
  font-family: sans-serif;
}

.note button {
  margin: 0 5px 0 10px;
  padding: 0 10px;
  color: #0a0a04;
  border: none;
  height: 36px;
  background-color: #ffe600;
  border-radius: 10px;

}
.crossed-line {
  text-decoration: line-through;
}
form {
  position: relative;
  max-width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  display: flex; 
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  resize: none;
  font-family: sans-serif;
}
form button {
  margin-left: 10px;
  background: #ffe600;
  color: #000;
  border: none;
  height: 36px;
  padding: 10px 20px;
  border-radius: 5px;
}

.clearContainer {
  display: block;
  text-align: center;
}
.clearContainer button {
  border: none;
  padding: 5px 10px;
  color: grey;
}
.clearContainer button:hover {
 color: red;
}
